/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
	background: radial-gradient(#eee,#444);  
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.colored-toast.swal2-icon-success {
	background-color: #a5dc86 !important;
}

.colored-toast.swal2-icon-error {
	background-color: #f27474 !important;
}

.colored-toast.swal2-icon-warning {
	background-color: #f8bb86 !important;
}

.colored-toast.swal2-icon-info {
	background-color: #3fc3ee !important;
}

.colored-toast.swal2-icon-question {
	background-color: #87adbd !important;
}

.colored-toast .swal2-title {
	color: white;
}

.colored-toast .swal2-close {
	color: white;
}

.colored-toast .swal2-html-container {
	color: white;
}


.active {
	color: whitesmoke !important;
}

.carrito-icono {
	color: whitesmoke !important;
    margin-top: 0.5rem;
    font-size: 1.7rem;
    margin-right: 1rem;
    display: flex;
}

.carrito-info {
	font-family: 'Staatliches', cursive;
    padding: 0px;
	color: #f75859 !important;

}

.carrito-nav {
	display: flex;

}

.titulo {
	padding: 12px;
	font-size: 3rem;
	text-align: center;
}

.btn-group>.btn:not(:first-child),
.btn-group>.btn-group:not(:first-child) {
	margin-left: 5px !important;
	padding-left: 17px;
}

.card-menu {
	width: 18rem;
	margin: 10px;
}

.counter {
	display: flex;
	justify-content: center;
}

.btn-compra {
	display: flex !important;
	justify-content: center;
	margin: 12px;
}

.row {
	--bs-gutter-x: 0 !important;
}

a {
	text-decoration-line: none !important;
	-moz-text-decoration-line: none !important;
}

.contador-medio {
	margin: 15px;
}

.contadores {
	border-radius: 20px;
	border: 0;
	background: none;

}



.full {
	border: 2px solid #f75859;
	width: fit-content;
	justify-content: center;
	margin: 2px;
	border-radius: 11px;
}

.btncontainer {
	padding: 0px 0.6rem 0px 0.6rem;
}

.Nav-logo {
	width: 13rem;
	height: 6rem;
}

.nav-link {
	font-size: 1.2rem !important;
}

.card-img-height {
	min-height: 18rem;
	max-height: 18rem;
}

.card-title {
	font-size: 2.2rem;
	font-weight: 400;
	font-family: 'Bebas Neue', cursive;
}

button {
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
}

.btn {
	transition: 0.5s !important;
	-webkit-transition: 0.5s !important;
	-moz-transition: 0.5s !important;
	-ms-transition: 0.5s !important;
	-o-transition: 0.5s !important;
}

.btn-agregar-carrito {

	margin: 10px 5px 10px 0px !important;
	font-size: 0.8rem !important;
	padding: 0.6rem !important;

}

.sombra-1 {
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-menu {
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
}

.card-menu:hover {
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.detalle-container {
	background: rgb(105, 64, 70);
	background: linear-gradient(90deg, rgba(105, 64, 70, 1) 0%, rgba(38, 12, 16, 1) 100%);
	color: wheat;
	border: 2px solid black;
	border-radius: 0px 20px 20px 0px;
	-webkit-border-radius: 0px 20px 20px 0px;
	-moz-border-radius: 0px 20px 20px 0px;
	-ms-border-radius: 0px 20px 20px 0px;
	-o-border-radius: 0px 20px 20px 0px;
	margin: 1rem 25rem 0rem 25rem !important;
	font-family: 'Chakra Petch', sans-serif;
	font-weight: 500;
}

.detail-image {
	border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-ms-border-radius: 0px 0px 0px 0px;
	-o-border-radius: 0px 0px 0px 0px;
}

.col-image {
	max-width: 500px;
    min-width: 500px;
	min-height: 515px;
    max-height: 540px;
}

.col-details {
	margin-right: 10px;
}

.contador-comprar {
	justify-content: space-evenly;
}

.counter {}

.btncontainer {
	height: 50px;
}

.bi-dash {
	height: 50px;
}

.detail-text {
	color: #f75859;
}

.detail-precio {
    font-size: 32px;
    border: 2px solid #f75859;
    width: fit-content;
    padding: 4px;
    border-radius: 11px;
}

.ItemCart {
	display: flex;
	margin: auto;
	border: 2px solid #f75859;
    border-radius: 11px;
	width: 45rem;
	width: 45rem;
    margin-top: 2rem;
}

.cart-img {
	border-radius: 9px 0px 0px 9px;
	-webkit-border-radius: 9px 0px 0px 9px;
	-moz-border-radius: 9px 0px 0px 9px;
	-ms-border-radius: 9px 0px 0px 9px;
	-o-border-radius: 9px 0px 0px 9px;
	justify-content: space-between;
    max-width: 18rem;
	max-height: 20rem;
}

.cart-details {
	padding: 10px 0px 10px 10px;
	font-family: 'Staatliches', cursive;
	font-size: 1.5rem;
	border-left: 2px solid #f75859;
}

.cart-cantidad {
	
	font-size: 17px;
}

.btn-compra-carrito {
	font-size: 22px;
    width: fit-content;
}

.cart-subtotal {
	border: 2px solid #f75859;
	border-radius: 10px 0px 10px 0px;
	width: fit-content;
	padding: 0px 5px 0px 5px;
}

.carrito-precio-total {
	margin: 10px auto 0px auto;
    width: fit-content;
    font-family: "Staatliches", cursive;
    font-size: 3rem;
}

.carrito-icono {
	margin-top: 5px;
	margin-right: 5px;
}

.item-list {
	display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    margin: 1rem;
}

.carrito-margin {
	margin-right: 1rem;
}

.rating {
    color: #ffc002;
    font-size: 26px;
    justify-content: center;
    margin: auto;
}

.dropdown {
	color:white
}

.dropdown-item {
    background-color: initial;
    border: 0;
    clear: both;
    color: white;
    display: block;
    font-weight: 400;
    padding: 1rem;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    width: 100%;
}

.dropdown-menu-dark {
    background-color: #1c1c1c!important;
    border: 2px solid #dff1f1!important;
    border-top-color: rgb(211, 240, 237) !important;
    border-top-style: solid !important;
    border-top-width: 2px !important;
    border-right-color: rgb(213, 235, 232) !important;
    border-right-style: solid !important;
    border-right-width: 2px !important;
    border-bottom-color: rgb(211, 236, 234) !important;
    border-bottom-style: solid !important;
    border-bottom-width: 2px !important;
    border-left-color: rgb(203, 231, 228) !important;
    border-left-style: solid !important;
    border-left-width: 2px !important;
    border-image-source: initial !important;
    border-image-slice: initial !important;
    border-image-width: initial !important;
    border-image-outset: initial !important;
    border-image-repeat: initial !important;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: var(--bs-dropdown-link-hover-bg);
    color: var(--bs-dropdown-link-hover-color);
}

.emitirCompra {
	width: 16.5rem;
	font-family: sans-serif !important;
}

.vaciarCarrito {
	
	display: flex !important;
		width: 16.5rem;
		justify-content: center;
		margin: auto;
		
	
}

.carrito-vacio {
	font-family: "Staatliches", cursive;
    font-size: 3rem;
    justify-content: center;
    margin: auto;
    width: fit-content;
	
}

.carrito-vacio-btn {
	justify-content: center !important;
    margin: auto !important;
    width: fit-content !important;
    display: block !important;
}

footer {
	top: 0;
}

@media screen and (max-width:1919px) {
	.item-list {
		display: flex;
		grid-template-columns: 20% 20% 20% 20% 20%;
		margin: 1rem;
		flex-wrap: wrap;
	}
}