/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.colored-toast.swal2-icon-success {
	background-color: #a5dc86 !important;
}

.colored-toast.swal2-icon-error {
	background-color: #f27474 !important;
}

.colored-toast.swal2-icon-warning {
	background-color: #f8bb86 !important;
}

.colored-toast.swal2-icon-info {
	background-color: #3fc3ee !important;
}

.colored-toast.swal2-icon-question {
	background-color: #87adbd !important;
}

.colored-toast .swal2-title {
	color: white;
}

.colored-toast .swal2-close {
	color: white;
}

.colored-toast .swal2-html-container {
	color: white;
}


.active {
	color: whitesmoke !important;
}

.carrito-icono {
		color: whitesmoke !important;
		margin-top: 0.3rem;
		font-size: 1.7rem;
		margin-right: 2rem;
}

.carrito-nav {
	display: flex;

}

.titulo {
	padding: 12px;
	font-size: 3rem;
	text-align: center;
}

.btn-group>.btn:not(:first-child),
.btn-group>.btn-group:not(:first-child) {
	margin-left: 5px !important;
	padding-left: 17px;
}

.card-menu {
	width: 18rem;
	margin: 10px;
}

.counter {
	display: flex;
	justify-content: center;
}

.btn-compra {
	display: flex !important;
	justify-content: center;
	margin: 12px;
}

.row {
	--bs-gutter-x: 0 !important;
}

a {
	text-decoration-line: none !important;
	-moz-text-decoration-line: none !important;
}

.contador-medio {
	margin: 15px;
}

.contadores {
	border-radius: 20px;
	border: 0;
	background: none;
	
}



.full {
	border: 2px solid #f75859;
	width: fit-content;
	justify-content: center;
	margin: 2px;
	border-radius: 11px;
}

.btncontainer {
    padding: 0px 0.6rem 0px 0.6rem;
}
.Nav-logo {
    width: 13rem;
    height: 6rem;
}

.nav-link {
	font-size: 1.2rem !important; 
}

.card-img-height {
	min-height: 18rem;
    max-height: 18rem;
}

.card-title {
	font-size: 2.2rem;
    font-weight: 400;
    font-family: 'Bebas Neue', cursive;
}

button {
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
}

.btn {
	transition: 0.5s !important;
	-webkit-transition: 0.5s !important;
	-moz-transition: 0.5s !important;
	-ms-transition: 0.5s !important;
	-o-transition: 0.5s !important;
}

.btn-agregar-carrito {
	
		margin: 10px 5px 10px 0px !important;
		font-size: 0.8rem !important;
		padding: 0.6rem !important;
	
}

.sombra-1 {
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-menu {
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
}

.card-menu:hover {
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.detalle-container {
	background: rgb(105,64,70);
background: linear-gradient(90deg, rgba(105,64,70,1) 0%, rgba(38,12,16,1) 100%);
	color: wheat;
	border: 2px solid black;
	border-radius:20px ;
	-webkit-border-radius:20px ;
	-moz-border-radius:20px ;
	-ms-border-radius:20px ;
	-o-border-radius:20px ;
	margin: 1rem 25rem 0rem 25rem !important;
	font-family: 'Chakra Petch', sans-serif;
	font-weight: 500;
}

.detail-image {
	border-radius: 20px 0px 0px 20px;
	-webkit-border-radius: 20px 0px 0px 20px;
	-moz-border-radius: 20px 0px 0px 20px;
	-ms-border-radius: 20px 0px 0px 20px;
	-o-border-radius: 20px 0px 0px 20px;
}

.col-image {
	max-width: 500px;
}

.col-details {
    margin-right: 10px;
}

.contador-comprar {
	justify-content: space-evenly;
}

.counter {
	
}

.btncontainer {
	height: 50px;
}

.bi-dash {
	height: 50px;
}

.detail-text {
	color: #f75859;
}